PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=belajar_echo
SMTP_MAIL=smtp.gmail.com
PORT_SMTP_MAIL=587
ADDRESS_MAIL=async@gmail.com
PASSWORD_MAIL=didaGG
SecretKey=PxDk8UojH5TKa3CcK9begUAVHGtGCb4J